services:
  - type: web
    name: website
    env: node
    plan: free
    rootDir: .
    buildCommand: npm install -g pnpm && pnpm install --no-frozen-lockfile && pnpm --filter web... build
    startCommand: pnpm --filter web start
    healthCheckPath: /
