services:
  - type: web
    name: surfsense-api
    runtime: node
    autoDeploy: true
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PUPPETEER_CACHE_DIR
        value: /opt/render/.cache/puppeteer
      - key: PUPPETEER_PRODUCT
        value: chrome
      - key: AUTO_COLLECT_COOKIES
        value: "1"
      - key: INSTAGRAM_USERNAME
        value: "@@secret(INSTAGRAM_USERNAME)"
      - key: INSTAGRAM_PASSWORD
        value: "@@secret(INSTAGRAM_PASSWORD)"
      - key: INSTAGRAM_TOTP_SECRET
        value: "@@secret(INSTAGRAM_TOTP_SECRET)"
      - key: TWITTER_USERNAME
        value: "@@secret(TWITTER_USERNAME)"
      - key: TWITTER_PASSWORD
        value: "@@secret(TWITTER_PASSWORD)"
      - key: FACEBOOK_USERNAME
        value: "@@secret(FACEBOOK_USERNAME)"
      - key: FACEBOOK_PASSWORD
        value: "@@secret(FACEBOOK_PASSWORD)"
      - key: GOOGLE_LOGIN_EMAIL
        value: "@@secret(GOOGLE_LOGIN_EMAIL)"
      - key: GOOGLE_LOGIN_PASSWORD
        value: "@@secret(GOOGLE_LOGIN_PASSWORD)"
      - key: GOOGLE_TOTP_SECRET
        value: "@@secret(GOOGLE_TOTP_SECRET)"
